@font-face {
	font-family: custom_font;
	src: url('../fonts/Montserrat-Regular.ttf');
}

html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 30px;
	/*margin-bottom: 60px;*/
	font-family: custom_font;
}
body {
	background: url('../images/uc.png') fixed no-repeat;
	width: 100%;
	/*height: 100%;*/
	background-position: center;
	background-size: cover;
}
.navbar {
	/*background: rgb(255,255,255); 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); 
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );*/

	background: #416d98;
	/*box-shadow: inset 0 0 1em #337ab9;*/
}

.navbar-default .navbar-nav > li > a {
		color: #fff;
}


.modal-style {
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 63px;
	background-color: #416d98;

}
body > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

.text-muted {
	color: #d6d8d9;
}
footer p a{
	color: #d6d8d9;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
textarea {
	resize: none;
}
.centered {
	float: none;
	margin: auto;
}
.fancycontent {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

#logo {
	background: url('../images/logo-active.png');
}
#logo {
	width: 45px;
	height: 45px;
	top: 12px;
}
a #logo:hover {
	background: url('../images/logo.png');
}

/*div.screen_mask {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    visibility: hidden;
}*/

/*.pagination .pg-normal {
	background-color: red;
}*/
.pagination .pg-active {
	background-color: #337ab7;
	color: #fff;
}

/*.table tr thead th{
	border: 0px solid;
}*/

.default-table > thead th, .default-table > th.header{
	background-color: #0686d3;
	color: #fff;
}